<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 TRANSITIONAL//EN">
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>Developing Mode</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type='text/javascript'>

    // 0/1 = start/end time
    // 2 = timing state
    // 3 = length, ms
    // 4 = timer
    // 5 = epoch
    // 6 = disp el
    // 7 = lap count

    var t=[0, 0, 0, 0, 0, 0, 0, 1, 0];

    function ss(){
        t[t[2]]=(new Date()).valueOf();
        t[2]=1-t[2]; //switch state

        if (0==t[2]) { //pause
            clearInterval(t[4]);
            t[3]+=t[1]-t[0];
            t[4]=t[1]=t[0]=0;
            disp();
        } else { //start
            t[4]=setInterval(disp, 43);
        }
    }
    function changeStatus( sbutton ) {
    	ss();
        if (sbutton.value==="Start" || sbutton.value==="Resume")
            sbutton.value="Pause";
        else sbutton.value="Resume";
    }
    // function r() {//reset
    //     document.getElementById('Startbutton').value="Start";
    // 	if (t[2]) ss();
    // 	t[4]=t[3]=t[2]=t[1]=t[0]=0;
    // 	disp();
    // 	document.getElementById('lap').innerHTML='';
    // 	t[7]=1;
    // }

    function disp() {
    	if (t[2]) t[1]=(new Date()).valueOf();
    	t[6].value=format(t[3]+t[1]-t[0]);
      t[8].value=t[3]+t[1]-t[0];
    }
    function format(ms) {
    	// used to do a substr, but whoops, different browsers, different formats
    	// so now, this ugly regex finds the time-of-day bit alone
    	var d=new Date(ms+t[5]).toString()
    		.replace(/.*([0-9][0-9]:[0-9][0-9]:[0-9][0-9]).*/, '$1');
    	var x=String(ms%1000);
    	while (x.length<3) x='0'+x;
    	d+='.'+x;
    	return d;
    }

    function load() {
    	t[5]=new Date(1970, 1, 1, 0, 0, 0, 0).valueOf();
    	t[6]=document.getElementById('disp');
      t[8]=document.getElementById('total');
    	disp();
      changeStatus();
    }


    </script>
    <style type='text/css'>

    #main button {
        width: 5em;
    	
    	font-size: 1em;
    }

    #main input[type='button']{
        font-size: 1em;
        width:5em;
    }
    #disp {

    	font-size: 2em;
    	width: 7.5em;
    	font-family: "Courier New";
    }

    #main {
    	text-align: center;
    	white-space: nowrap;
    }
/*
       * Sidebar
       */
      /* Hide for mobile, show later */
      .sidebar {
        display: none;
      }
      @media (min-width: 1000px) {
        .sidebar {
          position: fixed;
          top: 51px;
          bottom: 0;
          left: 0;
          z-index: 1000;
          display: block;
          padding: 20px;
          overflow-x: hidden;
          overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
          background-color: #f5f5f5;
          border-right: 1px solid #eee;
        }
      }

      /* Sidebar navigation */
      .nav-sidebar {

        margin-bottom: 20px;
        margin-left: -10px;
      }
      .nav-sidebar > li > a {
        padding-right: 20px;
        padding-left: 20px;
      }
      .nav-sidebar > .active > a,
      .nav-sidebar > .active > a:hover,
      .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #428bca;
      }
      .nav-tabs>li {
        float: right;
    }

    #lap {
    	margin-top: 0.5em;
    }
    </style>
</head>

<body onload='load();'>

    <nav class="navbar navbar-inverse navbar-fixed-top">
            <a class="navbar-brand" >Welcome, {{developer.account.username}}! Let's start working!</a>
            <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="/tracker/developer/{{ developer.account.pk }}/home">Home</a>
            <li><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Logout</button></li>
            </ul>
    </nav>
    <br><br><br>
    <div id='main' class="col-sm-3  sidebar">
        <ul class="nav nav-sidebar">


          <div class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading"><li><h2>{{ active_iteration.phase.project.name}}</h2></li></div>
              <div class="panel-heading"><li><h3>{{ active_iteration.name}}</h3></li></div>
              <div class="panel-body">

         
          <form name="records" method="post">
            	<input type='text' id='disp'/>

                <br><br>

            	<input type='button' value="Pause" class="btn btn-info" onclick="return changeStatus(this)" onfocus='this.blur()' id='Startbutton'/> 

              <!-- <button type='button' class="btn btn-info" onclick='r()' onfocus='this.blur()'>Reset</button> -->
          
              {% csrf_token %}
              <input type="hidden" name="interval" id="total"/>
              <button name= "submit_records"class="btn btn-info" type="submit" >Save</button>
          </form>
          


        </div>
        </div>

        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 main">
        <ul class="nav nav-tabs" align="middle">
          <li role="presentation" class="active"><a id="coursetab" href="#form-defect" aria-controls="form-defect" role="tab" data-toggle="tab">Create A Defect Report</a></li>
          <li role="presentation"><a id="skilltab" href="#table-history" aria-controls="table-history" role="tab" data-toggle="tab">Manage My History</a></li>  
        </ul>

        <div class="tab-content">

            <div id="form-defect" class="tab-pane fade in active">
                <div class="alert alert-info">
                    <center><h1 class="page-header">Report Defect</h1></center>
                    <center>
                      <form action="." method="POST">
                        {% csrf_token %}
                        {{ defect_form.as_p }} 

                      <input type="submit" name = "submit_defect" value="Summit" />
                      </form>
                    </center>
                </div>
            </div>


            <div id="table-history" class="tab-pane fade">
                <div class="panel panel-info">
                <div class="panel-heading">
                <h3>Your Defect Reports </h3>
                </div>  
                </div>

              {% for defect in defect_list %}

               


                    <div class="list-group">
                      <a href="/tracker/{{ user.account.pk }}/defect/{{ defect.did }}" class="list-group-item">
                        <h3 class="list-group-item-heading">{{ defect.type }}</h3></br>
                        <p class="list-group-item-text">{{ defect.description }}</p>
                        
                      </a>
                    </div>


                {% endfor %}
                <br>
                <h3>Your Working Time Records</h3>
                {% for record in record_list %}
                    <div class="list-group">
                      <a href="/tracker/{{ user.account.pk }}/record/{{ record.wid }}" class="list-group-item">
                        <h3 class="list-group-item-heading">{{ record.wid }}</h3></br>
                        <p class="list-group-item-text">{{ record.starttime }}</p>
                        <p class="list-group-item-text">{{ record.endtime }}</p>
                        
                      </a>
                    </div>
                {% endfor %}
            </div>

        </div>  
    </div>
</div>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-99796-2']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script');
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
ga.setAttribute('async', 'true');
document.documentElement.firstChild.appendChild(ga);
})();
</script>

              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

       

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Warm reminding</h4>
                            </div>
                            <div class="modal-body">
                              <p>Are you sure to logout without submitting time record?</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close anyway</button>
                            </div>
                          </div>
               
                </div>
              </div>

</body>
</html>